@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
.row {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 30px;
    padding-top: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    background-color: rgb(10, 10, 10);
    border-radius: 80%;
}

.rowInfo {
    display: flex;
    flex-direction: column;
    width: 75%;
    position: relative;
    left: 15%;
    padding-top: 5px;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-bottom: 1.2em;
}

.BlockShadowBlue {
    box-shadow: -2px 1px 5px #3F51B5;
}

.rowInfo p,
h3,
ul {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20%;
    margin-bottom: 10px;
}

.profilePic {
    border-radius: 50%;
    font-family: "Montserrat", sans-serif;
}

.sep50 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.listItem {
    list-style-type: disc;
    list-style-position: inside;
}

.listItem li {
    padding-left: 3.5em;
    font-size: 20px;
}

.highlights {
    color: rgb(63, 104, 167);
}

.listItem ul {
    font-size: 20px;
    list-style-type: none;
}

.nostyle {
    list-style-type: none;
}

.copyrightClaim,
.copyrightClaim a {
    font-family: "DM Sans", sans-serif;
    color: #3F51B5;
    text-decoration: none;
    font-size: 13px;
}